<h1><%= "#{@applicant.social_name} Perfil"%></h1> 

<%= @applicant.name %>
<%= @applicant.education %>
<%= @applicant.description %>
<%= I18n.l @applicant.birthdate, format: :custom %>
<%= @applicant.location %>

<%#= link_to 'Editar', edit_applicant_path(@applicant.id) %>
<%#= link_to 'Apagar', applicant_path(@applicant.id), method: :delete %>
<%= link_to 'Voltar', applicants_path %>