<% if @job.errors.full_messages.any? %>
  <p> Não foi possível salvar, verifique os erros abaixo: </p>
  <ul>
    <% @job.errors.full_messages.each do |j|%>
      <li><%= j %></li>
    <%end%>
  </ul>
<% end %>

<%= form_for(@job) do |j| %>

    <%= j.label :title, 'Título' %>
    <%= j.text_field(:title) %>

    <%= j.label :description, 'Descrição' %>
    <%= j.text_field(:description) %>

    <%= j.label :level, 'Nível' %>
    <%= j.text_field(:level) %>

    <%= j.label :skills, 'Habilidades' %>
    <%= j.text_field(:skills) %>

    <%= j.label :salary, 'Salário' %>
    <%= j.text_field(:salary) %>

    <%= j.label :application_deadline, 'Data Final Para Aplicação'%>
    <%= j.text_field(:application_deadline) %>

    <%= j.label :location, 'Localização' %>
    <%= j.text_field(:location) %>

    <%= j.submit('Enviar') %>
<% end %>
