<h1> Vagas </h1>

<h2> Resultado da busca por: <%= @search_query %></h2>
<% if @jobs.count == 0 %>
  <%= t :job, count: 0%>
<% else %>  
  <p><%= @jobs.count %> Vagas Encontradas</p>
<% end %>  
<%= form_with url:search_jobs_path, local: true, method: :get do |f|%>
  <%= f.label :query, 'Busca' %>
  <%= f.search_field :query %>
  <%= f.submit 'Buscar' %>
<% end %>

<% @jobs.each do |job| %>
  <%= link_to job.title, job %>
<% end %>

<% if @jobs.empty? %>
  <p> Nenhuma vaga cadastrada </p>
    <% if current_headhunteruser.present? %>
      <%= link_to 'Cadastrar nova vaga', new_job_path%>  
    <% end %>
<% end %>
