<!DOCTYPE html>
<html>
  <head>
    <title>HeadHunters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <% if headhunteruser_signed_in? %>  
        <%= link_to 'Vagas Cadastradas', jobs_path %>
        <%= link_to 'Cadastrar Nova Vaga', new_job_path %>
        <%= link_to 'Logout', destroy_headhunteruser_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Acesso HeadHunter', new_headhunteruser_session_path %>
      <% end %>

      <% if applicantuser_signed_in? %>  
        <%= link_to 'Meu Perfil', applicants_path %>
        <%#= link_to 'Cadastrar Nova Vaga', new_job_path %>
        <%= link_to 'Logout', destroy_applicantuser_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Acesso Candidato', new_applicantuser_session_path %>
      <% end %>

      <%= link_to 'Home', root_path %>
    </nav>

    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>